<h1>Flights</h1>

  <% @flights.each do |flight| %>
  <ul>
    <li>
      Date: <%= flight.scheduled %>
    </li>
    |
    <li>
      <a href="http://localhost:3001/#/flights/<%= flight.flight_number %>" target="_blank">
        Flight: <%= flight.flight_number %>
      </a>
    </li>
    |
    <li>
      <%= flight.from %> to <%= flight.to %>
    </li>
    |
    <li>
      Airplane: <%= flight.airplane.name %>
    </li>
    |
    <li>
      Open Seats: <%= flight.airplane.rows * flight.airplane.cols - flight.reservations.count %> of <%= flight.airplane.rows * flight.airplane.cols %>
    </li>
  </ul>
  <% end %>


<%=link_to "Add a Flight", new_flight_path %>
