<h1>Flights</h1>

<ul class='flights'>
  <li>Date</li>
  <li>Flight</li>
  <li>From > To</li>
  <li>Plane</li>
  <li>Seats</li>
</ul>
<ul>
  <% @flights.each do |flight| %>
    <li>
      <%= flight.scheduled %>
    </li>
    <li>
      <%= flight.flight %>
    </li>
    <li>
      <%= flight.from %> > <%= flight.to %>
    </li>
    <li>
      <%= flight.airplane.name %>
    </li>
    <li>
      <%= flight.airplane.rows %>
    </li>
  <% end %>
</ul>


<%=link_to "Add a Flight", new_flight_path %>
