<h1>#<%= @airplane.id %> ~ <%= @airplane.name %> </h1>

<ul>
  <li>Number of Rows -
    <%= @airplane.rows %> |
  </li>
  <li>Number of Columns -
    <%= @airplane.cols %> |
  </li>
  <li>Total Seats -
    <%= @airplane.rows * @airplane.cols %>
  </li>


</ul>

<ul>
  <% x= 0 %>


<% while x < @airplane.rows %>
  <div class='rows'>Row:<%= x+1 %></div>
  <% y= 0 %>
<% while y < @airplane.cols %>
  <div class='cols'>Seat:<%=y+1%></div>
  <% y = y+1 %>
<% end %>

  <% x = x+1 %>
<% end %>
</ul>

<br>
<% if @current_user.admin == true%>

<%= link_to "Edit this Airplane", edit_airplane_path(@airplane.id), class:"button" %>
<%= link_to "Delete this Airplane", airplane_path(@airplane.id), method: 'delete', class:"button" %>
<% end %>
<br>
<%= link_to "Go back to All Airplanes", airplanes_path, class:"button" %>
