<h1><%= @airplane.id %>) <%= @airplane.name %> </h1>

<ul>
  <li>Number of Rows-
    <%= @airplane.rows %>
  </li>
  <li>Number of Columns-
    <%= @airplane.cols %>
  </li>
  <li>Total Seats-
    <%= @airplane.rows * @airplane.cols %>
  </li>
  <li>Available Seats?
  </li>

</ul>



<br>
<% if @current_user.admin == true%>

<%= link_to "Edit this Airplane", edit_airplane_path(@airplane.id) %>
<%= link_to "Delete this Airplane", airplane_path(@airplane.id), method: 'delete' %>
<% end %>
