<h1>Welcome <%= @current_user.name%></h1>
<div>
  <% if @current_user.admin == true%>
   | <%= link_to "Airplanes", airplanes_path  %>
   | <%= link_to "Flights", flights_path  %>
   | <%= link_to "Users", users_path  %>
   | <%= link_to "Reservations", reservations_path  %>|

  <% else %>
   | <%= link_to "Reservations", reservations_path  %> |
</div>
  <%end %>
