<!DOCTYPE html>
<html>
  <head>
    <title>RailsBurningAirlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<<<<<<< HEAD
    <nav>
      <ul>
        <li>Planes</li>
        <li>Flights</li>
      </ul>
    </nav>
=======
    <div>
    <% if @current_user.present? %>
      Welcome,<%=link_to @current_user.name, user_path(@current_user.id), class:'name' %>
      <%end %>
    </div>
    <nav>

      <% if @current_user.present? %>

        <div>
        <%= link_to 'Logout', login_path, method:'delete', class: 'log' %>
        </div>
        <% else %>
        <div class='log'>
        <%= link_to 'Login', login_path, class: 'log' %>
        </div>
        <div class='log'>
        <%= link_to 'Sign Up', new_user_path, class: 'log' %>
      <% end %>
        </div>
>>>>>>> d2d2b5ea5db3c6bd5c48a28689169c12ad903b62
    <%= yield %>
  </body>
</html>
