<!DOCTYPE html>
<html>
  <head>
    <title>RailsBurningAirlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
    <% if @current_user.present? %>
      Welcome,<%=@current_user.name%>
      <%end %>
    </div>
    <nav>

      <% if @current_user.present? %>

        <ul>
          <li>
            | <%= link_to 'Logout', login_path, method:'delete', class: 'log' %>
          </li>
        | <li>
          <%= link_to 'Home', user_path(@current_user.id), class: 'log' %> |
          </li>

        </ul>
        <% else %>
        <div class='log'>
        <%= link_to 'Login', login_path, class: 'log' %>
        </div>

      <% end %>

    <%= yield %>
  </body>
</html>
